
name: CI/CD to azure aks

on:
  push:
    branches:
      - main

env:
  AZURE_RESOURCE_GROUP: ${{ secrets.AZURE_RESOURCE_GROUP }}
  AKS_CLUSTER_NAME: ${{ secrets.AKS_CLUSTER_NAME }}

  # ACR
  ACR_NAME: ${{ secrets.ACR_NAME }}
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
  ACR_REPOSITORY: ${{ secrets.ACR_REPOSITORY }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------- CI: tests (Poetry) ----------
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies with Poetry
        run: |
          poetry --version
          poetry install --no-interaction --no-ansi

      - name: Run tests
        run: |
          poetry run pytest || echo "No tests yet, skipping"

      # ---------- Login to Azure ----------
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # ---------- Login to ACR ----------
      # Option A (simple): az acr login
      - name: Login to Azure Container Registry
        run: |
          az acr login --name $ACR_NAME

      # ---------- Build & push image ----------
      - name: Build and push Docker image
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          IMAGE=${ACR_LOGIN_SERVER}/${ACR_REPOSITORY}:${IMAGE_TAG}

          echo "Building image: $IMAGE"

          docker build \
            -t $IMAGE \
            -f docker/rag_pipeline/Dockerfile \
            .

          docker push $IMAGE

          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      # ---------- Deploy to AKS ----------
      - name: Get AKS kubeconfig
        run: |
          az aks get-credentials \
            --resource-group $AZURE_RESOURCE_GROUP \
            --name $AKS_CLUSTER_NAME \
            --overwrite-existing

      - name: Update fastapi deployment image
        run: |
          kubectl set image deployment/fastapi \
            fastapi=${IMAGE}

      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/fastapi

      - name: Show services and pods
        run: |
          kubectl get pods
          kubectl get svc
